@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Hind+Siliguri:wght@300;400;500;500;700&family=Playball&display=swap');

@keyframes float {
  0%,
  100% {
    transform: translateY(0px);
  }
  50% {
    transform: translateY(-20px);
  }
}

@keyframes fade-in {
  from {
    opacity: 0;
    transform: translateY(20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes gradient {
  0%, 100% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
}

.animate-fade-in {
  animation: fade-in 0.8s ease-out;
}

.animate-gradient {
  background-size: 200% 200%;
  animation: gradient 3s ease infinite;
}

@keyframes pulse {
  0%,
  100% {
    box-shadow: 0 0 0 0 rgba(42, 171, 238, 0.7);
  }
  50% {
    box-shadow: 0 0 0 10px rgba(42, 171, 238, 0);
  }
}

body {
  scroll-behavior: smooth;
  padding: 0;
  margin: 0;
    font-family: "Hind Siliguri"!important;
  box-sizing: border-box;
}
